pyTelegramBotAPI
Flask
python-dotenv
rapidfuzz
pyzbar
Pillow
googletrans==4.0.0rc1
openai
imapclient
pyzmail36
yagmail
SpeechRecognition
pydub
requests
numpy
tesserocr
python-dotenv  # если хотите подключить .env для секретов
gunicorn
